.UnitCard-stat-grid {
    width: 100%;
}

.UnitCard.UnitCard.UnitCard.UnitCard.UnitCard {
    color: black;
}

.UnitCard.UnitCard.UnitCard.UnitCard.UnitCard-limbo {
    background-color: #ccc;
}

.UnitCard.UnitCard.UnitCard.UnitCard.UnitCard-selected {
    background-color: #9fe2bf;
}

.UnitCard-unit-sprite {
    height: 32px;
    width: 32px;
    margin-right: 0.5rem;
}