.UnitCard-stat-grid {
    width: 100%;
}

.UnitCard.UnitCard.UnitCard.UnitCard.UnitCard {
    color: black;
}

.UnitCard.UnitCard.UnitCard.UnitCard.UnitCard-limbo {
    background-color: #ccc;
}

.UnitCard-selected.UnitCard-selected.UnitCard-selected.UnitCard-selected.UnitCard-selected {
    background-color: #9fe2bf;
}

.UnitCard-unit-sprite {
    height: 32px;
    width: 32px;
    margin-right: 0.5rem;
}

.UnitCard.UnitCard.UnitCard.UnitCard.UnitCard.UnitCard.UnitCard.UnitCard .UnitCard-remaining-ap-bar {
    margin: 0;
}

.UnitCard-content-move.UnitCard-content-move.UnitCard-content-move.UnitCard-content-move.UnitCard-content-move.UnitCard-content-move {
    font-size: 10px;
    padding: 0;
}

.UnitCard-move-cell:hover {
    background-color: #ccc;
}