.TurnController {
    height: 100%;
    position: relative;
    margin: 1rem;
}

.TurnController.TurnController.TurnController.TurnController.TurnController .TurnController-header, 
.TurnController.TurnController.TurnController.TurnController.TurnController .TurnController-header tr,
.TurnController.TurnController.TurnController.TurnController.TurnController .TurnController-header td {
    width: 100%;
    text-align: center;
}


.TurnController.TurnController.TurnController.TurnController.TurnController .TurnController-units {
    width: 290px;
    height: calc(100vh - 100px);
    overflow: auto;
}

.TurnController.TurnController.TurnController.TurnController.TurnController .TurnController-units.collapsed {
    width: 10rem;
    height: calc(100vh - 100px);
    overflow: auto;
}

.TurnController.TurnController.TurnController.TurnController.TurnController .TurnController-map {
    width: 100%;
    height: 100%;
    overflow-x: auto;
}

.TurnController.TurnController.TurnController.TurnController.TurnController .TurnController-map-column {
    height: calc(100vh - 100px);
    width: calc(100% - 400px);
    overflow-x: auto;
}

.TurnController.TurnController.TurnController.TurnController.TurnController .TurnController-map-column.expanded {
    height: calc(100vh - 100px);
    width: calc(100% - 16rem);
    overflow-x: auto;
}

.TurnController.TurnController.TurnController.TurnController.TurnController .TurnController-map-table {
    /* border: black 2px solid; */
    border-collapse: collapse;
    font-size: 10x;
    /* font-weight: bold; */
}

.TurnController.TurnController.TurnController.TurnController.TurnController .TurnController-jump-realm.TurnController-jump-realm.TurnController-jump-realm {
    border: black 2px solid;
}

.TurnController.TurnController.TurnController.TurnController.TurnController .TurnController-map-table td {
    border: black 1px solid;
    color: #ccc;
    min-width: 4rem;
    min-height: 2rem;
    overflow: visible;
}

.TurnController.TurnController.TurnController.TurnController.TurnController .TurnController-upload-button {
    position: absolute;
    left: 5px;
}

.TurnController.TurnController.TurnController.TurnController.TurnController .TurnController-buttons {
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.TurnController.TurnController.TurnController.TurnController.TurnController .TurnController-button {
    margin-top: 0.5rem;
}

.TurnController-combat-simulator-popup.TurnController-combat-simulator-popup.TurnController-combat-simulator-popup.TurnController-combat-simulator-popup {
    width: 90%;
    max-width: 90%;
}

.TurnController-cauldron-popup.TurnController-cauldron-popup.TurnController-cauldron-popup.TurnController-cauldron-popup.TurnController-cauldron-popup {
    width: 90%;
    height: 90%;
    max-width: 90%;
}

.TurnController-impulse-container {
    display: flex;
}

.TurnController-impulse-container.TurnController-impulse-container h3 {
    padding-right: 1rem;
    margin: auto;
}

.TurnController-unit-collapse-column.TurnController-unit-collapse-column.TurnController-unit-collapse-column.TurnController-unit-collapse-column.TurnController-unit-collapse-column.TurnController-unit-collapse-column {
    width: 0;
    padding-left: 4px;
    padding-right: 24px;
}

.TurnController-unit-sprite {
    height: 32px;
    width: 32px;
}

.TurnController-showSprites-toggle {
    margin-left: 0.25rem;
    margin-bottom: 0.25rem;
}

.TurnController-cell-popup.TurnController-cell-popup.TurnController-cell-popup.TurnController-cell-popup.TurnController-cell-popup {
    text-align: center;
}

.TurnController-faction-logo {
    height: 2rem;
}

.TurnController-unit-type-dropdown {
    margin-bottom: 0.5rem;
    border: solid 1px #ccc;
    border-radius: 0.5rem;
    padding: 0.2rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.TurnController-fights-popup.TurnController-fights-popup.TurnController-fights-popup.TurnController-fights-popup.TurnController-fights-popup {
    width: 90%;
    min-width: 45rem;
    height: 90vh;
    overflow-y: auto;
}