.CombatSimulator.CombatSimulator.CombatSimulator.CombatSimulator {
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.CombatSimulator.CombatSimulator.CombatSimulator .CombatSimulator-segment {
    height: 100%;
}

.CombatSimulator-form {
    position: relative;
}

.CombatSimulator.CombatSimulator.CombatSimulator.CombatSimulator .CombatSimulator-input {
    display: block;
    padding: 0.25rem;
    width: 100%;
}

.CombatSimulator.CombatSimulator.CombatSimulator.CombatSimulator .CombatSimulator-column {
    text-align: left;
    width: 50%;
}

.CombatSimulator.CombatSimulator.CombatSimulator.CombatSimulator .CombatSimulator-table {
    text-align: center;
}